#header h1{
  text-align: center;
  font-size: 50px;
}
#header p{
  text-align: center;
  font-size: 25px;
}
#representsMePicture  {
  float: left;
  max-width: 20%;
  max-height: auto;
  border-radius: 50%;
  margin: 15px;
}

#representsMe  p {
  text-align: left;
}


